// Heading & Text classes
@each $size in map-keys($headings) {
  .heading-#{$size} {
    font-size: texts-deep-get($headings, $size, 'default', 'font-size');
    line-height: texts-deep-get($headings, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($headings, $size, 'md', 'font-size');
      line-height: texts-deep-get($headings, $size, 'md', 'line-height');
    }
  }
}

@each $size in map-keys($texts) {
  .text-#{$size} {
    font-size: texts-deep-get($texts, $size, 'default', 'font-size');
    line-height: texts-deep-get($texts, $size, 'default', 'line-height');

    @include media-breakpoint-up(md) {
      font-size: texts-deep-get($texts, $size, 'md', 'font-size');
      line-height: texts-deep-get($texts, $size, 'md', 'line-height');
    }
  }
}
.text-white {
  color: $white;
}

.text-bold {
  font-weight: 700;
}

.text-light {
  font-weight: 300;
}

.link-primary {
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link-white {
  color: $white;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $light;
  }

  &.has-notification {
    &::after {
      content: '';
      position: absolute;
      top: 0px;
      right: -5px;
      width: 12px;
      height: 12px;
      background-color: $danger;
      border-radius: 50%;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}
